.git
.venv
__pycache__
.env
clerk-javascript/node_modules
dist
build
*vetflow_mobile/*


# 1) Generar el keystore (una sola vez)
$keystorePath = "C:\Users\USUARIO\keystores\vetflow-release.jks"
New-Item -ItemType Directory -Force -Path (Split-Path $keystorePath)
keytool -genkeypair -v -keystore $keystorePath -alias vetflow -keyalg RSA -keysize 2048 -validity 10000

# 2) Crear key.properties (usa la MISMA password que pusiste en keytool)
$propsPath = "C:\Users\USUARIO\Desktop\DEMO\demo-ragknowladgebase\vetflow_mobile\android\key.properties"
@"
storeFile=$($keystorePath -replace '\\','/')
storePassword=TU_PASSWORD
keyAlias=vetflow
keyPassword=TU_PASSWORD
"@ | Set-Content -Path $propsPath -Encoding UTF8



# 1) Crear key.properties (usa la MISMA contraseña que pusiste en keytool)
$propsPath = "C:\Users\USUARIO\Desktop\DEMO\demo-ragknowladgebase\vetflow_mobile\android\key.properties"
@"
storeFile=C:/Users/USUARIO/keystores/vetflow-release.jks
storePassword=Luna-roca-19-mar
keyAlias=vetflow
keyPassword=Luna-roca-19-mar
"@ | Set-Content -Path $propsPath -Encoding UTF8



Set-Location "C:\Users\USUARIO\Desktop\DEMO\demo-ragknowladgebase\vetflow_mobile"

@"
storeFile=C:/Users/USUARIO/keystores/vetflow-release.jks
storePassword=Luna-roca-19-mar
keyAlias=vetflow
keyPassword=Luna-roca-19-mar
"@ | Set-Content -Path .\android\key.properties -Encoding ascii


# 1) Crear archivo de defines
@"
{
  "VETFLOW_BASE_URL": "https://panelia.eflowdomain.cloud",
  "VETFLOW_API_KEY": "a4a4db6f83b15c28568c808efe74b7f5208dde67f7487d797c27531b1972a1c1",
  "CLERK_PUBLISHABLE_KEY": "pk_live_Y2xlcmsucGFuZWxpYS5lZmxvd2RvbWFpbi5jbG91ZCQ"
}
"@ | Set-Content -Path "C:\Users\USUARIO\Desktop\DEMO\demo-ragknowladgebase\vetflow_mobile\env.release.json" -Encoding UTF8

# 2) Compilar APK release usando ese archivo
Set-Location "C:\Users\USUARIO\Desktop\DEMO\demo-ragknowladgebase\vetflow_mobile"
flutter build apk --release --dart-define-from-file=env.release.json
